{% extends 'base.html.twig' %}


{% block loginLogout %}
    <table>
        <tr>
            <td>
                Welcome {{ app.user.preprovision }} {{ app.user.lastname }}, {{ app.user.firstname }}
            </td>
        </tr>
        <tr>
            <td>
                <a href="/logout" class="btn btn-newprimary float-right">logout</a></td>
            </td>
        </tr>
    </table>
{% endblock %}