{% extends 'base.html.twig' %}

{% block loginLogout %}

    <form action="{{ path('login') }}" method="post">
        <table>
            <tr>
                <td class="float-right">
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text" id="username" name="_username"/>
                </td>
            </tr>
            <tr>
                <td class="float-right">
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" id="password" name="_password" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                    <button class="btn btn-newprimary float-right" type="submit">login</button></td>
            </tr>

        </table>

        {#
            If you want to control the URL the Lid
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
    </form>

{% endblock %}
