{% extends "baseBezoeker.twig" %}

{% block body %}
    <p>Hallo bezoeker</p>
    <p>Er zijn totaal {{ open|length }} lessen beschikbaar</p>
    <p>Er zijn op dit moment {{ geweest|length }} lessen in totaal ingeroosterd en/of geweest</p>

{% endblock %}